build
src/apollo/ipch
src/apollo/apollo.vcxproj.user
src/apollo/apollo.sdf
src/apollo/apollo.opensdf

src/core/ipch
src/core/core.vcxproj.user
src/core/core.sdf
src/core/core.opensdf

src/data/ipch
src/data/data.vcxproj.user
src/data/data.sdf
src/data/data.opensdf

src/business/ipch
src/business/business.vcxproj.user
src/business/business.sdf
src/business/business.opensdf

product

lib

cpplint.log
cppcheck.log